.inputSearch {
  height: 40px;
  border-radius: 20px;
  border: 2px solid #ff8bff;
  width: 350px;
  padding: 10px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s, width 0.3s; /* Додано transition для зміни ширини */
  background-color: #75487a; /* Фоновий колір */
  position: relative;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputSearch:focus {
  outline: none;
  border-color: #ff8bff; /* Змінено колір рамки при фокусуванні */
  box-shadow: 0 0 8px rgba(255, 139, 255, 0.5);
  width: 270px; /* Збільшено ширину при фокусуванні */
}

.inputSearch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff8bff; /* Змінено колір світіння */
  opacity: 0;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }
  50% {
    width: 30px;
    height: 30px;
    opacity: 0.2;
  }
  100% {
    width: 20px;
    height: 20px;
    opacity: 0;
  }
}


.animatedText {
  overflow: hidden;
}

.label {
  font-size: 24px;
  margin-top: 30px;
  color: #ff8bff;
}

.label span {
  display: inline-block;
  animation: moveText 1s infinite alternate;
}

@keyframes moveText {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-5px) rotate(5deg);
  }
  50% {
    transform: translateY(5px) rotate(-5deg);
  }
  75% {
    transform: translateY(-5px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}


