.inputSearch {
  height: 30px;
  border-radius: 12px;
  border: 2px solid #e97ecb;
  width: 210px;
  padding: 8px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: white;
}

.inputSearch:focus {
  outline: none;
  border-color: #511c42;
  box-shadow: 0 0 4px rgba(217, 126, 212, 0.5);
}

.label {
  margin-top: 30px;
  font-weight: 700;
  color: #e97ecb;
}
